

#categories{
    width: 15%;
    margin: 0px auto;
}

#information{
    width: 75%;
    margin: 0px auto;
}



#information .headers{
    margin-top: 5px;
    margin-left: 50px;
}

.table-data{
    width: 100%;
    height: 400px;
    overflow: auto;
    padding: 0px;
    margin: 0px auto;
}

#information table{
    text-align: center;
    height: 30vh;
    width: 90%;
    margin: 50px auto;
    text-align: left;
    overflow: auto;
}


#information th{
   width: 10%;
}
#information td{
   width: 10%;
    padding: 10px;
}

.admin-home-container{
    width: 95vw;
    height: 100%;
   margin: 50px auto;
}

.admin-content-container{

    align-items: center;

}

.category{
    font-size: 1.2rem;
    margin: 15px auto;
    padding: 5px;
    border-radius: 10px ;
}

.category:hover{
    cursor: pointer;
    background-color: var(--blue);
    color: white;
}

.blue-bg{
    background-color: var(--blue);
    color: white;
}



#information table{
    height: 200px;
    overflow-y: scroll;
}

.admin-input-box{
    border: 2px solid rgb(177 167 167);
    padding: 5px;
    border-radius: 10px;
    margin: 3px 0px;
    width: 100px;
}

.admin-add-button1{
    margin: 0px;
    padding:5px;
    border-radius: 15px;
    width: 100px;
}

.admin-add-button-left{
    border-radius: 10px 0px 0px 10px;
  font-size: 0.8rem;
  padding: 3px;
}

.admin-add-button-right{
    border-radius: 0px 10px 10px 0px;
    font-size: 0.8rem;
    padding: 3px;
}

.admin-add-button2{
margin: 10px;
width: 20%;
border-radius:10px ;
display: flex;
justify-content: space-evenly;
}

#selectImage{
    display: none;
}
